<body>
    <form novalidate (submit)="SignUp(frm)" #frm="ngForm">
        <div>
        <p>כניסה</p>
        <input matInput placeholder="הכנס תעודת זהות" [(ngModel)] = "newClient.CodeClient" name="newClient" />
        <button type="submit" >כניסה</button>
    </div>
    
    </form>
    <div>
        <p>הרשמה</p>
        <input  placeholder="הכנס תעודת זהות"  />
        <input  placeholder="שם פרטי"  />
        <input  placeholder="שם משפחה"  />
        
        <button  >הרשמה </button>
    </div>
    
    </body>